/* Step 1. Animation for logo - want it to start with width 25px and 0 opacity and end with 475px width and 1 opacity */
@keyframes logo {
    from {width: 25px; opacity:0;}
    to {width: 475px; opacity:1;}
}

/* Step 1, cont. - apply animation to logo image (has id logo) */
#logo {
    animation-name: logo;
    animation-duration: 5s;
}

/* Step 2 - body has font Poppins with serif as a backup, background image is set to the given image in images folder, color set as a backup */
body {
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
    font-family: 'Poppins', serif;
}

/* Step 3 - default header rules - flex direction is vertical and everything within is centered*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Step 4 - in default view, nav links are stacked vertically */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* Step 5 - visited link set to same color as before visiting (default blue) */
li a:visited{
    color: blue;
}

/* Step 6 - styling for headers within child class */
.card > header {
    background: #288088;
    border-style: solid;
    border-color: #45ADAD;
    border: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Step 6, cont. - rounding upper borders of card & header to match given picture */
.card > header, .card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Step 7 - card class given initial size (flex-basis) of 450px, everything within stacked vertically */
.card {
    display:flex;
    flex-basis: 450px;
    flex-direction: column;
}

/* Step 8 - pricing class aligned horizontally and vertically, default mode - stack contents inside vertically*/
.pricing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* Step 9 - gallery image styling - border, margin, width specifications */
.gallery img {
    border: 10px;
    border-style: solid;
    border-color: #50C7C7;
    margin: 10px;
    width: 300px;
}

/* Step 10 - want gallery to stay center-justified in all cases */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media query set for screens wider than 900px (non-default specifications from here) */
@media screen and (min-width: 900px) {

    /* Step 11 - headers are now horizontally oriented */
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Step 11, cont. - nav links are now horizontally aligned */
    .nav_links {
        flex-direction: row;
    }

    /* Step 12 - pricing is now horizontally aligned and middle-aligned*/
    .pricing {
        flex-direction: row;
        align-items: center;
    }

    /* Step 12, cont. - cards given new initial size */
    .card {
        flex-basis: 275px;
    }

    /* Step 13 - first header (occurs before main) sticks at the top of the screen  */
    body > header {
        top: 0;
        position: sticky;
    }
}

/* Step 14 - media query set for user preferring reduced motion - turn off logo animation */
@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation:none;
    }
}

/* Set media query for print mode */
@media print {

    /* Step 15, 16 - body font set to Arial, Helvetica for backup - no background image in print mode*/
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* Step 17 - make sure nav goes across the entire page to set up ensuing rule */
    nav {
        width: 100%;
    }

    /* Step 17, cont. - nav links in print mode are horizontally aligned and evenly spaced out */
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Step 18 - pricing boxes are horizontal, all fit onto one "line", aligned at the bottom */
    .pricing {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    /* Step 19 - card border setting, initial size to 325px */
    .card {
        border-color: #45ADDD;
        border: 2px;
        border-style: solid;
        flex-basis: 325px;
    }

    /* Step 20 - gallery images are not shown in print mode */
    .gallery{
        display:none;
    }

    /* Step 20, cont - visibility to hidden means the space is taken up but no text saying "Gallery" - did this to match print output PDF */
    #gallery{
        visibility: hidden;
    }

    /* Step 21 - within the list in the cards, add a thumbs up emoji coming after the message in only the second element and none others. The content here is a string literal containing the thumbs up emoji */
    .card li:nth-child(2)::after {
        content: "👍";
    }

}
